@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

:root {
  --main-bg: rgb(37, 150, 190);
  --hero-bg: rgb(255, 255, 255);
  --font-dark: rgb(0, 0, 0);
  --font-white: rgb(255, 255, 255);
  --icon-fill: rgb(0, 0, 0);
  --shadow: rgb(128, 128, 128);
}

* {
  box-sizing: border-box;
}

.picture {
  background-image: url(./stock_image.jpg);
  background-position: center;
  background-size: cover;
  min-height: 500px;
  min-width: 300px;
}

header .picture {
  color: var(--font-white);
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 5rem;
  padding: 1vw;
  box-shadow: 2px 2px 5px 2px var(--shadow);
}

.blue-layer {
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(170deg, var(--main-bg) 50%, var(--hero-bg) 50%);
  position: absolute;
  z-index: -1;
  left: 0;
  top: -10%;
}

img {
  width: 100%;
  height: auto;
}

svg {
  width: 2em;
  margin: 0 1.5vw;
  fill: var(--icon-fill);
}

header {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 10vh;
}

#hero {
  background-color: var(--hero-bg);
  padding: 0 2vw;
  box-shadow: 2px 2px 5px 2px var(--shadow);
}

#projects {
  margin: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects h2 {
  margin-left: 2vw;
  align-self: flex-start;
}

.projects-showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3vw;
}

.project-card {
  border: 1px solid --shadow;
  box-shadow: 2px 2px 2px 2px var(--shadow);
}

.project-screenshot {
  height: 150px;
  background-color: var(--main-bg);
  color: var(--font-white);
  display: grid;
  align-items: center;
  justify-items: center;
}

.project-description {
  margin: 1vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  align-items: center;
}

footer {
  background-color: var(--main-bg);
}

.project-description .links {
  justify-self: flex-end;
  display: flex;
  gap: 1vw;
}

.project-description .links svg {
  margin: 0;
}

.project-description p {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.address {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.phone-number,
.email {
  margin: 0.2vh 0;
}

#contact .links {
  margin-top: 1.5vh;
  align-self: center;
}

footer {
  display: flex;
  color: var(--font-white);
}

footer #contact {
  margin: 5vw;
}

footer .picture {
  margin: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Desktop specific */
@media (min-width: 1000px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header .picture {
    z-index: 10;
  }

  #hero {
    min-height: 400px;
    display: flex;
    flex-direction: column;
  }

  #hero p {
    max-width: 70ch;
  }

  #hero .links {
    align-self: flex-end;
    margin: 1vh;
  }

  footer .picture {
    max-width: 300px;
  }
}

/* Laptop specific */
@media (min-width: 500px) and (max-width: 1000px) {

  header .picture {
    width: 50%;
    float: left;
    margin-bottom: 1vw;
    margin-right: 2vw;
    margin-left: -3vw;
    margin-top: -5vh;
  }

  #hero {
    padding: 7vw;
  }

  #hero .links {
    float: right;
  }

  footer .picture {
    max-width: 300px;
  }
}

/* Mobile specific */
@media (max-width: 500px) {
  
  .picture {
    margin: 1vw;
  }
  
  #hero {
    margin: 5vw;
    text-align: center;
    box-shadow: none;
  }

  #hero .links {
    float: none;
  }
  
  #projects h2 {
    align-self: center;
  }

  #contact {
    margin: 5vw;
    display: flex;
    flex-direction: column;
  }

  #contact h2 {
    align-self: center;
  }

  footer .picture {
    margin: 0;
  }

  footer {
    flex-direction: column;
  }

}
